@media only screen and (max-width:480px){.none-br-480px {display: none !important}}
@keyframes type {from {box-shadow: inset -2px 0px 0px;} to {box-shadow: inset -2px 0px 0px transparent;}}
/* Căn chữ */ .LS81yb {padding-left: 0px;padding-right: 0px;}